*,
*::before,
*::after {
    box-sizing: border-box;
}

.hash-container {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
    border: 1px solid rgba(52, 73, 94, 0.6);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    background-color: #5D6D7E;
    border-radius: 8px;
    white-space: nowrap;
    max-height: 50px;
    margin-bottom: 1px;
}

.hash-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    margin-left: 5px;
    margin-right: 10px;
    text-align: center;
}

.logo-container {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.copy-button {
    background-color: #27AE60;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    transition: background-color 0.3s;
    cursor: pointer;
}

body {
    background-color: #2c3e50;
    color: #ecf0f1;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: scroll;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px 40px 40px;
    border-radius: 8px;
    width: 100%;
    max-width: 50vw;
    text-align: center;
}

.success-message {
    color: #56f156;
}

h5 {
    color: darkgray;
    text-align: center;
}

p {
    color: lightblue;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.search-input {
    width: 400px;
}

.login-input {
    width: 200px;
}

.search-input,
.login-input {

    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #34495e;
    background-color: #3b4a57;
    color: #ecf0f1;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.logout-button {
    background-color: #e74c3c;
}

.search-button,
.login-button {
    background-color: #27AE60;
}

.decode-button {
    background-color: #3498db;
}

.input-group > button,
.input-group > a {
    display: inline-block;
    text-align: center;
    width: 100%;
    max-width: 200px;
}

.logout-button, .decode-button {
    text-decoration: none;
}

.search-button,
.login-button,
.logout-button,
.decode-button {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 200px;
    min-width: 100px;
    max-width: 400px;
    color: #ecf0f1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box;
}



.logout-button:hover {
    background-color: #c0392b;
}

.login-button:hover,
.search-button:hover,
.copy-button:hover {
    background-color: #1e8449;
}

.login-button:active,
.search-button:active,
.copy-button:active {
    background-color: #196f3d;
}

.decode-button:hover {
    background-color: #2980b9;
}

h3 {
    margin-top: 20px;
}

.error-message {
    margin-top: 20px;
    color: rgb(0, 84, 0);
    background-color: rgba(66, 133, 66, 0.5);
    padding: 10px;
    border-radius: 5px;
    box-shadow: #252525 0 0 10px;
}

.input-group {
    text-align: center;
}

.sign-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px 40px 40px;
    border-radius: 8px;
    width: 100%;
    max-width: 70vw;
    text-align: center;
    gap: 5px;
}

.sign-up-button {
    color: #6ff3cf;
    font-style: italic;
    font-weight: bolder;
    font-size: larger;
    text-decoration: none;
}

.account {
    color: #939695;
    font-style: italic;
    font-size: medium;
}

@media (max-height: 699px) {
    .logo-container, .logo {
        display: none;
    }

}

@media (max-width: 1000px) {
    .search-container {

        max-width: 80vw;
        width: 80vw;
    }
}
