<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Decode Hash</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>
<body>
<div class="logo-container">
    <img src="/images/logo.png" alt="" class="logo"><br><br><br><br>
</div>
<th:block th:if="${result} != null">
    <div class="hash-container">
        <p th:text="${result}" class="hash-display"></p>
    </div>
</th:block>
<br>

<br><br>
<div class="search-container">

    <form action="/crack" method="post">
        <label>
            <input type="text" name="search" placeholder="Enter SHA256 or MD5 hashed string" class="search-input">
        </label>
        <a href="">
            <button type="submit" class="search-button">Decode</button>
        </a>
        <br>
        <div class="button-container">
            <a href="/home" class="decode-button">Go to Encoder</a>
        </div>
        <br>
        <div class="button-container">
            <a href="/logout" class="logout-button">Logout</a>
        </div>
    </form>
</div>
</body>
</html>