<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
  <meta charset="UTF-8">
  <title>Hash Password</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>
<body>
<div class="logo-container">
  <img src="/images/logo.png" alt="" class="logo">
</div>
<th:block th:if="${md5} != null">
  <div class="hash-container">
    <h5 >MD5: </h5>
    <p th:text="${md5}" class="hash-display" id="md5"></p>
    <button class="copy-button" onclick="copyToClipboard('md5')">Copy</button>
  </div>
</th:block>
<br>
<th:block th:if="${sha256} != null">
  <div class="hash-container">
    <h5>SHA256:</h5>
    <p th:text="${sha256}" class="hash-display" id="sha256"></p>
    <button th:if="${sha256} != ''" class="copy-button" onclick="copyToClipboard('sha256')">Copy</button>
  </div>
</th:block>

<br><br>
<div class="search-container">

  <form action="/home" method="post">
    <label>
      <input type="text" name="search" placeholder="Enter any text" class="search-input">
    </label>
    <a href="">
      <button type="submit" class="search-button">Encode</button>
    </a>
    <br>
    <div class="button-container">
      <a href="/crack" class="decode-button">Go to Decoder</a>
    </div>
    <br>
    <div class="button-container">
      <a href="/logout" class="logout-button">Logout</a>
    </div>
  </form>
</div>
<script>
  function copyToClipboard(id) {
    const text = document.getElementById(id).innerText;
    navigator.clipboard.writeText(text);
  }
</script>
</body>
</html>