<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="logo-container">
  <img src="/images/logo.png" alt="" class="logo">
</div>
<div class="login-container">
  <div th:if="${error_message} != null" th:text="${error_message}" class="error-container input-group"></div>
  <div th:if="${message} != ''" th:text="${message}" class="success-container input-group"></div>
  <br>
  <form action="/login" method="post">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
    <div class="input-group">
      <label for="username"></label>
      <input type="text" id="username" name="username" placeholder="Enter your username" class="login-input" required>
    </div>
    <div class="input-group">
      <label for="password"></label>
      <input type="password" id="password" name="password" placeholder="Enter your password" class="login-input" required>
    </div>
    <div class="input-group">
      <button type="submit" class="login-button">Login</button>
    </div>
    <br>
    <div class="input-group">
      <a href="/oauth2/authorization/github" class="decode-button">Github Login</a>
    </div>
      <div class="sign-container">
        <p class="account">Don't have an account?</p>
        <a href="/register" class="sign-up-button">Sign Up</a>
      </div>
  </form>

</div>
</body>
</html>
